// Colors
$color-primary: #02a7de;
$color-secondary: #f8f8f8;

// Fonts - family
$font-family-primary: Avenir, Helvetica, sans-serif;

// Fonts - size
$font-size-primary: 18px;
$font-size-secondary: 11px;
$font-size-tertiary: 16px;

// Fonts - color
$font-color-primary: rgba(0, 0, 0, 0.5);
$font-color-secondary: #ffffff;
$table-row-accent: #f6f6f6;
