@import '../../../../../../sass/variables';
@import '../../../../../../sass/styles';

.activation-detail {
  &-title {
    font-family: $font-family-primary;
    font-weight: 600;
    font-size: 36px;
    color: $color-primary;
    margin-top: 25px;
  }

  &-sub-title {
    margin-top: 15px;
    font-size: $font-size-primary;
    color: #7f7f7f;
    font-weight: 300;

    &__bold {
      font-weight: 500;
    }
  }
}

.download-bid-button {
  width: 200px;
  height: 40px;
  border: 1px solid #bfbfbf;
  margin-right: 65px;
  cursor: pointer;
}

.download-text {
  text-align: center;
  line-height: 40px;
}

.download-icon {
  margin-left: 10px;
  margin-bottom: 5px;
}

.activation-table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  &-container {
    padding-bottom: 40px;
  }
}

.table-row {
  text-align: center;
  border: 0;
  font-family: $font-family-primary;
  font-size: 17px;
  margin: auto;
  padding: 10px;
  vertical-align: middle;
  height: 45px;
  width: 60px;
  font-weight: 300;

  &__header {
    font-weight: 500;
    font-size: $font-size-primary;
  }

  &__accented {
    background-color: $table-row-accent;
  }

  &__no-data {
    padding-left: 383px;
    padding-right: 390px;
  }
}

.back-arrow {
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.details-border {
  margin-top: 35px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details-graph-title {
  margin-left: 30px;
  font-size: 22px;
  font-weight: 400;
}

.no-details-graph-title {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
}

.legend {
  width: 350px;
  height: 40px;
  border: 1px solid #bfbfbf;
  margin: auto auto 40px;
}

.legend-row {
  border-bottom: 1px solid #f8f8f8;
}

.chart {
  width: 100%;
  min-height: 300px;
}

.v-axis {
  position: absolute;
  z-index: 1000;
  margin-top: 10px;
  font-size: $font-size-secondary;
  margin-left: 105px;
  color: #7d7d7d;
  font-family: $font-family-primary;
}

.legend-text {
  position: absolute;
  margin-top: 9px;
  margin-left: 6px;
  display: inline-block;
}

.legend-item-pa {
  border-top: 2px solid #e86c90;
  display: inline-block;
  width: 35px;
  margin-top: 18px;
  margin-left: 18px;
}

.legend-item-order {
  border-top: 2px #086bc8 dashed;
  display: inline-block;
  width: 35px;
  margin-top: 18px;
  margin-left: 38px;
}

.legend-item-re {
  border-top: 2px solid #51ba00;
  display: inline-block;
  width: 35px;
  margin-top: 18px;
  margin-left: 80px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 50px;
  color: #eee9dc;
  font: 16px Verdana, sans-serif;
  background: #2e6ba7;
  user-select: none;
}

.diagram {
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.eda-display {
  background-color: $color-primary;
  color: #fff;
  width: 150px;
  margin-top: -44px;
}

.site-block {
  margin-left: 30px !important;
  border: 2px solid transparent;
  box-shadow: 1px 1px 3px #ccc;
  color: $color-primary;
  width: 250px;
  height: 40px;
  line-height: 36px;
  font-family: $font-family-primary;
  border-radius: 2px;
}

.hover-bar {
  border: 2px solid $color-primary;
}

.upper {
  margin-left: 240px;
}

.one-site {
  &:after {
    top: 52% !important;
  }

  &:before {
    border-left: 0 !important;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 50px;
  color: #eee9dc;
  font: 16px Verdana, sans-serif;
  background: #2e6ba7;
  user-select: none;
}

#wrapper {
  position: relative;
  margin-bottom: 50px;
}

.branch {
  position: relative;
  margin-left: 250px;
}

.branch:before {
  content: '';
  width: 50px;
  border-top: 2px solid #eee9dc;
  position: absolute;
  left: -100px;
  top: 50%;
  margin-top: 1px;
}

.lv1 {
  position: relative;
  margin-left: 250px;
}

.lv1:before {
  content: '';
  width: 50px;
  border-top: 1px solid $color-primary;
  position: absolute;
  left: -100px;
  top: 50%;
  margin-top: 1px;
}

.entry {
  position: relative;
  min-height: 60px;
}

.entry:before {
  content: '';
  height: 100%;
  border-left: 1px solid $color-primary;
  position: absolute;
  left: -50px;
}

.entry:after {
  content: '';
  width: 80px;
  border-top: 1px solid $color-primary;
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: 1px;
}

.entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 2px;
  border-radius: 0;
}

.entry:first-child:after {
  height: 10px;
  border-radius: 0;
}

.entry:last-child:before {
  width: 10px;
  height: 50%;
  border-radius: 0;
}

.entry:last-child:after {
  height: 10px;
  border-top: none;
  border-bottom: 1px solid $color-primary;
  border-radius: 0;
  margin-top: -9px;
}

.entry.sole:before {
  display: none;
}

.entry.sole:after {
  width: 50px;
  height: 0;
  margin-top: 1px;
  border-radius: 0;
}

.label {
  margin-left: 2px;
  display: block;
  line-height: 40px;
  text-align: center;
  position: absolute;
  left: 0;
  height: 40px;
  top: 50%;
  margin-top: -18px;
}

.no_data {
  text-align: center;
}
