<div class="col-md-12">
  <img
    (click)="redirectToDashboard()"
    class="icon"
    src="../../../../assets/img/arrow-left.svg"
  />
  <div class="search-title arrow-style">
    Vue Sites
  </div>
  <form>
    <div class="form-group form-inline">
      <input
        class="form-control search-field"
        type="text"
        id="search-input"
        [(ngModel)]="searchInput"
        placeholder="Recherchez un code site"
        [formControl]="filter"
      />
    </div>
    <div class="submit">
      <img class="svg-icon" src="../../../../assets/img/icon-search.svg" />
    </div>
  </form>
  <div class="eda-results-group" *ngIf="displayResults">
    <ng-container *ngFor="let site of sites$ | async">
      <div class="col-md-12">
        <div class="row">
          <ng-container *ngIf="!site.selected">
            <div class="site-result col-md-3" (click)="selectSite(site)">
              <ngb-highlight [result]="site.siteName" [term]="filter.value">
              </ngb-highlight>
            </div>
          </ng-container>
          <ng-container *ngIf="site.selected">
            <div
              class="unfolded-site-result col-md-3"
              (click)="selectSite(site)"
            >
              <div>{{ site.siteName }}</div>
            </div>
            <div class="site-details col-md-5">
              <div class="informations">
                Informations
              </div>
              <div class="code-site row">
                <div class="code-site-title col-md-4">
                  Code site
                </div>
                <div class="code-site-result col-md-5 offset-1">
                  {{ site.objectAggregationMeteringPoint }}
                </div>
              </div>
              <div class="code-site row">
                <div class="code-site-title col-md-4">
                  Numéro de SIRET
                </div>
                <div class="code-site-result col-md-5 offset-1">
                  {{ site.siteSIRET }}
                </div>
              </div>
              <div class="code-site row">
                <div class="code-site-title col-md-4">
                  Lieu de Production
                </div>
                <div class="code-site-result col-md-5 offset-1">
                  {{ site.siteLocation }}
                </div>
              </div>
              <div class="code-site row">
                <div class="code-site-title col-md-4">
                  Nom du producteur
                </div>
                <div class="code-site-result col-md-5 offset-1">
                  {{ site.producerName }}
                </div>
              </div>
              <div class="code-site row">
                <div class="code-site-title col-md-4">
                  Type de Site
                </div>
                <div class="code-site-result col-md-5 offset-1">
                  {{ site.siteType }}
                </div>
              </div>
              <div class="code-site row">
                <div class="code-site-title col-md-4">
                  GRD associé
                </div>
                <div class="code-site-result col-md-5 offset-1">
                  {{ site.a04RegisteredResourceMrid }}
                </div>
              </div>
              <div class="history-link" (click)="redirectToHistory()">
                Consulter l'historique >
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
